/*Main Body*/
body {
    font-family: 'Source Code Pro', monospace, Courier;
    /*font-family: 'Courier New', Courier, monospace; */
    /*font-size: 1em;*/
    /*line-height: 1em;*/
    font-size:12.5px;
    
    background-color:#000;
    color:#DBDBDB;
    
    text-align:left;
    line-height:1.5;
    /*margin: 0px 0px 0px 0px;*/
    padding: 0px 0px 0px 0px;

    width:90%;
    max-width:600px;
    margin-right:auto;
    margin-left:auto;

    /*zoom: 110%;*/
}


/*Headers*/
h1,h2,h3,h4,h5,h6 {
    font-size:14px;
    margin:0px;
    margin-top:22px;
    font-weight:bold;
}


/*Links Styling*/
a {
    text-decoration:underline;
    color:#DBDBDB
}
    
a:hover {
    color:#000;
    background-color:#DBDBDB
}


/*Header Styling*/
header{
    margin-top:25px;
    margin-bottom:10px;
    border-top:dashed 1px rgba(219,219,219,0.9);
    border-bottom:dashed 1px rgba(219,219,219,0.9);
    text-align:right;
    padding: 10px 0 10px 0;
}


/*Header Paragraph Styling*/
header p{
    text-align:left;
    margin:0
}


/*Header Links Styling*/
header a {
    text-decoration:none;
    /*text-transform: uppercase;*/
}


/*Header List Styling*/
header ul {
    margin:0;
    padding:0;
}

header li {
    /*float: left;*/
    display: inline;
    padding:0 5px 0 5px;
}



/*Default Container
.Default_Container {
    width:90%;
    max-width:600px;
    margin-right:auto;
    margin-left:auto;
}*/


/*Paragraph Styling
p {
    margin:0px;
    word-wrap:break-word;
    word-break:break-word;
    white-space:pre-wrap
}
*/


/*Easter Egg Link Styling*/
#red-h1 {
    /*color:rgb(214, 211, 211);*/
    color:#000;
    text-decoration:none;
    position:fixed; left:90%;
}
#red-h1:hover {
    background-color:rgb(219, 0, 128);
}


/*Footer Styling*/
footer{
    color:#DBDBDB;
    border-top:dashed 1px rgba(219,219,219,0.9);
    margin:30px auto 15px;
    padding-top:5px;
    text-align:right;
    line-height:1.0;
}


/*About Page*/
.Picture_Banner {
    width: 30%;
    float: left;
    padding: 15px 15px 15px 15px;
}

.Picture_Banner ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

.Picture_Banner li {
    padding:0 5px 0 5px;
}

.Picture_Banner li a {
    text-decoration:none;
}

#profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .About_text {
    margin: 10px 0px 15px 240px;
  }